{% extends 'index_base.html'%}

{% block title %} 签到历史 {% endblock %}


{% block panel_title %} 签到历史 {% endblock %}
{% load static %}
{% block panel_body%}
<div class="content-row">
    <form role="form" action='{% url "qd:list" %}' method='get'>
      <div class="form-group col-md-3">
        <input name="cname" type="text" class="form-control" placeholder="班级">
      </div>
       <div class="form-group col-md-3">
        <input name="uname" type="text" class="form-control" placeholder="姓名">
      </div>
       <div class="form-group col-md-3">
        <input name="create_time" type="date" class="form-control" placeholder="日期">
      </div>
       <div class="form-group col-md-3">
        <input type="submit" class="btn btn-primary" value="查 询">
        <input type="button" class="btn btn-info" value="重 置">
      </div>
    </from>
</div>
<div class="content-row">
  <table class="table table-bordered table-striped">
    {% comment %} <colgroup>
      <col class="col-xs-1">
      <col class="col-xs-7">
    </colgroup> {% endcomment %}
    <thead>
      <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>章节</th>
        <th>进度</th>
        <th>code数</th>
        <th>bug数</th>
        <th>签到时间</th>
        <th>备注</th>
      </tr>
    </thead>
      {% for q in data.object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ q.uid.nick_name }}</td>
          <td>{{ q.stage }}</td>
          <td>{{ q.progress }}</td>
          <td>{{ q.code_num }}</td>
          <td>{{ q.bug_num }}</td>
          <td>{{ q.create_time }}</td>
          <td>{{ q.remark }}</td>
        </tr>
      {% endfor %}
                
  </table>
    {% include 'page.html' %}
</div>
{% endblock %}



