{% extends 'base.html'%}
{% block title %}
注册
{% endblock  %}

{% block body %}
      <form class="form-signin" role="form" action="/user/register/" method="post">
        {% csrf_token %}
        <h3 class="form-signin-heading">注 册</h3>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <input type="text" class="form-control" name="uname" id="username" placeholder="用户名" autocomplete="off" />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <input type="text" class="form-control" name="nick_name" id="username" placeholder="昵称" autocomplete="off" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </div>
            <input type="password" class="form-control" name="pwd" id="username" placeholder="密码" autocomplete="off" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-gift"></i>
            </div>
            <input type="text" class="form-control" name="sex" id="username" placeholder="性别" autocomplete="off" />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class=" glyphicon glyphicon-phone "></i>
            </div>
            <input type="password" class="form-control" name="phone" id="password" placeholder="电话" autocomplete="off" />
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">注 册</button>
      </form>
{% endblock  %}